.restaurateur-page {
  text-align: left;

  .container {
    margin-top: 2em;

    .col-9,
    .col-3 {
      padding: 1em;
    }

    .info {
      h2 {
        text-align: center;
      }
      .avatar {
        width: 70%;
        border-radius: 50%;
        border: 5px solid black;
        margin-bottom: 2em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .restaurant-info {
      display: inline-block;
    }

    .restaurants-display {
      overflow: auto;
      height: 60vh;
      img {
        width: 100px;
        float: right;
      }
    }
  }
  .restaurant-list-item {
  }
  .addNewButton {
    float: right;
  }
}

.new-restaurant-page {
  .container {
    margin-top: 1em;
  }

  .form-container {
    max-width: 50vw;
    .input-group-prepend {
      .input-group-text {
        width: 12em;
      }
    }
  }
}
