.navbar-page {
  .btn-dark {
    background-color: black;
  }

  .btn-group {
    margin-right: 1em;
  }
  #shareEx-logo-text {
    color: white !important;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  input[type="search"] {
    margin-left: 20px;
  }
}
