.restaurateur-page-2 {
  // background-color: black;
  .container {
    margin-top: 2em;
  }
  .restaurant-info {
    .restaurant-image {
      cursor: pointer;
      width: 100%;
    }
    h2 {
      margin: 0;
    }
    ul {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .options {
      margin-top: 1em;
    }
  }
  .employee-list {
    overflow: auto;
    height: 70vh;
  }
  .employee-list-item {
    img {
      width: 5em;
      border-radius: 50%;
      border: 3px solid black;
    }
    .employee-info {
      p {
        margin: 0;
      }
    }
  }
  .restaurant-menu-item {
    img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      margin-bottom: 0.5em;
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .restaurant-menu-item:hover {
    opacity: 0.8;
  }

  .menuTable {
    border: 1px solid #282c34;
    th {
      padding: 5px;
    }
  }
  .addNewButton {
    float: right;
  }

  .employee-list-item-component {
  }
  #codeBlock {
    width: 100%;
  }
}
